appnope
asgiref
asttokens
attrs
autopep8
backcall
beautifulsoup4
bleach
certifi
charset-normalizer
decorator
defusedxml
Django
django-js-asset
django-mptt
django-versatileimagefield
docopt
executing
fastjsonschema
idna
ipython
jedi
Jinja2
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyterlab_pygments
libmagic
MarkupSafe
matplotlib-inline
mistune
nbclient
nbconvert
nbformat
packaging
pandocfilters
parso
pexpect
pickleshare
pillow
pipreqs
platformdirs
prompt_toolkit
ptyprocess
pure_eval
pycodestyle
Pygments
pylibmagic
python-dateutil
python-magic
pyzmq
referencing
requests
rpds-py
six
soupsieve
sqlparse
stack-data
tinycss2
tornado
traitlets
urllib3
wcwidth
webencodings
yarg
