<div class="rounded position-relative fruite-item flex-column">
    {% if product.tag %}
    <div class="text-white bg-secondary px-3 py-1 rounded position-absolute"
         style="top: 10px; left: 10px;">{{ product.tag }}
    </div>
    {% endif %}
    <div class="fruite-img">
        <img src="{{ product.image.crop.306x214 }}"
             class="img-fluid w-100 rounded-top" alt="{{ product.name }}"/>
    </div>
    <div class="p-4 border border-secondary border-top-0 rounded-bottom">
        <h4>{{ product.name }}</h4>
        <div class="justify-content-between flex-lg-wrap">
            <p class="text-dark fs-5 fw-bold mb-0">{{ product.price }} ლ / კგ</p>
            <form method="POST" action="{% url 'add_to_cart' %}">
                {% csrf_token %}
                <input type="hidden" name="product_id" value="{{ product.id }}">
                <button type="submit" class="btn border border-secondary rounded-pill px-3 text-primary">
                    <i class="fa fa-shopping-bag me-2"></i> კალათაში დამატება
                </button>
            </form>
        </div>
    </div>
</div>